<h1><span class="text-inversion-style"><b><i>モジも積もればイミとなる。</i></b></span></h1>

<p><span class="text-inversion-style"><b>「文字を使った作品を、毎日ちょっとずつ作りたい！」
  <br>とはいえ文字は言葉を伝える道具であるから、文字単体はナンセンス。
  <br>そんなとき、「塵も積もれば山となる」という言葉が過りました。
  <br>一日一日はただの文字。だけど続けていくなかで、その文字の集まり全体が"意味"になるんじゃないのかな？
  <br>ということで始めます、「ちりつもチャレンジ」。
  <br>一日一個の「塵」を作字、twitterやinstagramを通してミクロに「塵」を楽しんでいただくと同時に、こちらのページにてマクロな「山」を見ることができます。
  <br>この企画、果たして山になるまで続くかな・・・乞うご期待！（やれ）</span></b></p>
  
  <p><%= link_to "BACK >" , root_path %></p>

  <div class="change-log">
  <h3 class="futura">ChangeLog</h3>
    <p><span class="futura">2020.10.30</span><i> リリースしました。「塵」の文字の挙動がピクピクしています。バグなのですが、かわいいのでそのままにしています。
    <br>また、ブラウザの「戻る」ボタンを押すと塵の文字が亜空間に消えるバグが起きています。こちらは近いうちに直します。</i></p>
    <p><span class="futura">2020.10.31</span><i>ピクピクするバグをなおしてしまいました。残念。</i></p>
    <p><span class="futura">2021.06.01</span><i>すっかり暑くなってきました。</i></p>
  </div>
