<div class='date'>DAY <span class='date-number'><%=@date %></span></div>
<div id='container'></div>

<script>
  <% if @images.present? %>
  const textures = [];
    <% @images.each do |image| %> //画像url全件取得
      textures.push('<%= image.image.url %>');
    <% end %>
  <% end %>

  /*スタイルの初期化*/
  style_init();
  /*塵を降らせる*/
  init(textures);
</script>
