/* line 5, /home/kanata/chiritsumo/chiritsumo/app/assets/stylesheets/static_pages.scss */
body {
  background-color: #BC004D;
  color: white;
  font-family: 'Yu Gothic';
}

/* line 11, /home/kanata/chiritsumo/chiritsumo/app/assets/stylesheets/static_pages.scss */
.date {
  font-family: "futura-medium-oblique";
  font-size: 70px;
}

/* line 16, /home/kanata/chiritsumo/chiritsumo/app/assets/stylesheets/static_pages.scss */
.date-number {
  letter-spacing: -0.1em;
}

/* line 20, /home/kanata/chiritsumo/chiritsumo/app/assets/stylesheets/static_pages.scss */
.information {
  position: absolute;
  left: -30px;
  top: 90vh;
  font-family: "futura-medium-oblique";
}

/* line 27, /home/kanata/chiritsumo/chiritsumo/app/assets/stylesheets/static_pages.scss */
.change-log {
  font-size: 12px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


@font-face{
  font-family: "futura-medium-oblique";
  /*開発環境では以下*/
  /* src: url('ファイル名') format("truetype");*/
  /*本番環境ではasset-urlを使用*/
  src: url('futura_medium_oblique.ttf') format('truetype');
}

.futura {
  font-family: 'futura-medium-oblique';
}

a {
  text-decoration: none;
  color: white;
  font-family: 'futura-medium-oblique';
}


a:hover {
    background: #00ff8b;
    color: black;
  }
  
ul {
  list-style: none;
}

li {
  float: left;
  margin-right: 30px;
}

.text-inversion-style {
  background: #00ff8b;
  color: black;
}
