// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('noise_texture.png');
  color: white;
  font-family: 'Yu Gothic';
}

body::after {

}

.date {
  font-family: "futura-medium-oblique";
  font-size: 70px;
}

.date-number {
  letter-spacing: -0.1em;
}

.information {
  position: absolute;
  left: -30px;
  top: 90vh;
  font-family: "futura-medium-oblique";
}

.change-log {
  font-size: 12px;
}
