// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('noise_texture.png');
  color: white;
  font-family: 'Yu Gothic';
}

.date {
  font-family: "futura-medium-oblique";
  font-size: 70px;
  position: absolute;
}

.date-number {
  letter-spacing: -0.1em;
}

.information {
  position: fixed;
  left: -30px;
  top: 90vh; /* Fallback for browsers that do not support Custom Properties */
  top: calc(var(--vh, 1vh) * 90);
  font-family: "futura-medium-oblique";
}

.introduction {
  margin-bottom: 90px;
}

.change-log {
  font-size: 12px;
  margin-bottom: 120px;
}
