<%= form_for @image do |form| %>
  <%= form.attachment_field :image %>
  <%= form.submit "投稿", class: "" %>
<% end %>

<p>※もし山岸以外の方がこのページを見つけたら</p>
<p>よく見つけたな！だがここはお前の来るところじゃない、、、
<br>本来ならこういう内部構造に関するページにはロックをかけるべきなんだけど、面倒だからかけてないんよ！
<br>みつかっちゃったときに対応しようと思ってたから、みつけたあなたは山岸のtwitterに報告してくれ～～！</p>